* {
    font-family: verdana;
    margin: 0;
}

body {
    background: #eee;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 20px auto;
}

.flex-container {
    display: flex;
    background: white;
}

.box1 {
    height: 100px;
    min-width: 100px;
}

.one {
    background: red;
    flex-grow: 2;
}

.two {
    background: blue;
    flex-grow: 3;
}

.three {
    background: green;
    flex-grow: 1;
}

.box2 {
    height: 100px;
    width: 320px;
}

.one2 {
    background: black;
    flex-shrink: 1;
}

.two2 {
    background: yellow;
    flex-shrink: 2;
}

.three2 {
    background: rebeccapurple;
    flex-shrink: 3;
}

.flex-container3 {
    display: flex;
    background: white;
    flex-wrap: wrap;
}

.box3 {
    height: 100px;
    min-width: 200px;
    flex-grow: 1;
}

.one3 {
    background: blue;
}

.two3 {
    background: gray;
}

.three3 {
    background: greenyellow;
}

.flex-container4 {
    display: flex;
    background: white;
    flex-wrap: wrap;
}

.box4 {
    height: 100px;
    flex-grow: 1;
}

.one4 {
    background: blue;
    flex-basis: 100px;
}

.two4 { 
    background: gray;
    flex-basis: 200px;
}

.three4 {
    background: greenyellow;
    flex-basis: 300px;
}